{% extends "base.html" %}
 {% load static %} 

 {% block body %}
    <div class="container py-4 ">
        <div class="row mx-auto">
          <div class="col-12 ">
            <h3>Contacto de la cafetería:</h3>    
              <p style="font-size: 18px;" class="bi bi-envelope"><b> Correo:</b> 
                <a id="correo" href="mailto:feu1@estudiantes.uci.cu" style="text-decoration: none;">feu1@estudiantes.uci.cu</a></p>    
              <p class="pb-3 bi bi-telephone" style="font-size: 18px; margin-top: -0.53rem ;"> 
                <b>Teléfono:</b><span style="color:#075bf8"> +53 7835 8271</span> </p>    
          </div>
              
          <h3 >Si tiene alguna duda o necesita asistencia por favor contáctenos</h3>
          
            <form class="row mt-1" action="{% url 'contacto' %}" method="POST">
              {% csrf_token %}
              <div class="col-md-4 me-1">
                <label for="inputNombre" class="form-label">Nombre*</label>
                <input type="text" class="form-control" id="inputNombre" name="nombre" required>
              </div>
              <div class="col-md-4">
                <label for="inputTelefono" class="form-label">Teléfono*</label>
                <input type="tel" class="form-control" id="inputTelefono" name="telefono" required>
              </div>
              
              
              <div class="col-md-4 me-1 mt-1">
                <label for="inputEmail4" class="form-label">Email*</label>
                <input type="email" class="form-control" id="inputEmail4" name="correo" required>
              </div>

              <div class="col-md-4 mt-1">
                <label for="inputAsunto" class="form-label">Asunto*</label>
                <input type="text" class="form-control" id="inputAsunto" name="asunto" required>
              </div>
                
               
                <div class="col-md-8 mt-1">
                  <label for="textarea" class="form-label">Descripción*</label>
                  <textarea name="descripcion"  id="textarea"  rows="4" class="form-control" style="max-height:200px;" required></textarea>
                </div> 

                <div class="col-12 mt-3">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck" required>
                    <label class="form-check-label" for="gridCheck">
                      Verifícame
                    </label>
                  </div>
                </div>
                <div class="col-12 mt-3">
                  <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
              </form>
        </div>
    </div>
    <br><br>
    
 {% endblock %}

 {% block extrajs %}
    {% if messages %}
    {% for m in messages %}
    {% if m.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <script>
        Swal.fire({
        "icon": 'success', 
        "background": '#e1e6d3',  
        "title": 'Felicitaciones', 
        "text": '{{m}}'          
    })
    </script> 
    {% endif %}  
    {% if m.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <script>
        Swal.fire({
        "icon": 'error', 
        "background": '#e1e6d3',  
        "title": 'Error', 
        "text": '{{m}}'          
    })
    </script> 
    {% endif %} 
    {% endfor %}
    {% endif %}
 {% endblock  %}