<!DOCTYPE html>
<html lang="en">
<head>
    <title>La Madriguera del Zorro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% load static %}
    <link rel="icon" href="{% static 'img/logo.jpg' %}" type="image/jpg">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/proveedores.css' %}">
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap5.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-icons.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/fonts/bootstrap-icons.woff' %}"> 
    <link rel="stylesheet" href="{% static 'css/fonts/bootstrap-icons.woff2' %}">   
 
</head>
<body>
      <div id="top" class="container-fluid">
        <div class="row">
          <div class="col-sm-12 col-md-6 mt-1 mb-2">
            <a href="/"> 
              <img class="rounded-circle float-start mx-5" src="{% static 'img/logo.jpg' %}" alt="Logo" width="100" height="100">
            </a> 
            <!-- <p class="float-start mt-5 mx-3">hola</p> -->
          </div>
          <div id="div_form" class="col-sm-12 col-md-6 mb-1" >
            
              <form class="input-group" role="search"  method="POST" action="/search/"> {% csrf_token %}
                
                <input value="{{request.buscador}}" id="buscar" name="buscador" class="form-control me-2 buscar" type="text" placeholder="Buscar productos" >
                
                <button id="boton" class="btn btn-outline-secondary me-2 bi bi-search" type="submit"> Buscar</button>  
               
                <!-- Carrito -->  
                <div class="carrito">
                  <a class="btn btn-danger bi bi-cart4" data-bs-toggle="offcanvas" href="#offcanvasExample1" role="button" aria-controls="offcanvasExample">
                  </a>            
                  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample1" aria-labelledby="offcanvasExampleLabel" data-bs-scroll="true" data-bs-backdrop="false">
                    <div class="offcanvas-header">
                      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Carrito</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                      {% if request.session.carrito.items %}
                      {% for key, value in request.session.carrito.items %}
                      <div class="col-sm-9 col-md-9 text-center mx-auto">
                        <div class="card mb-3 rounded-3 shadow-sm border-dark ">
                          <div class="card-header py-2 bg-danger">
                            <h4 class="my-0 fw-normal text-white "> {{value.nombre}} </h4>
                          </div>
                          <div class="card-body mx-auto">
                            <img src=" {{ value.imagen }} " alt="" style="height: 7rem; width: 7rem;" class="img-thumbnail">
                            <h3 class="card-title pricing-card-title"> {{value.precio}} <small class="text-muted fw-light">/cup</small>
                            </h3>
                            <h3 class="card-title pricing-card-title"> {{value.acumulado | floatformat:2}} <small class="text-muted fw-light">Subtotal</small>
                            </h3>
                            <div class="mx-4">
                              <a href="{% url 'restar' value.producto_id %}" class="badge btn btn-dark" >-</a>
                              
                              <span>{{value.cantidad}}</span>
                              
                              <a href="{% url 'agregar' value.producto_id %}" class="badge btn btn-dark">+</a>
                            </div>
                            
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                      <hr>
                      <h5><b>Total:</b> {{total | floatformat:2}}</h5>
                        <div class="col-sm-6 mx-auto mt-3">
                          <a href="{% url 'limpiar' %}" class="btn btn-warning">Limpiar</a>
                          <a href= "{% url 'limpiar' %}" class="btn btn-success comprar">Comprar</a>          
                        </div>
                      
                      {% endif %}   
                    </div>
                  </div>            
                         
                </div>
              </form>     
            
          </div>
        </div>
      </div>

           <!-- Barra de navegación -->
        <nav class="navbar bg-danger bg-opacity-75 navbar-dark p-1 ">  
        
            <div class="container-fluid navbar-expand-md">
              <a class="navbar-brand mb-lg-1" href="/" id="zorrillo">
                Inicio 
              </a>
              <button class="navbar-toggler bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon "></span>
              </button>
              <div class=" collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-lg-0 ">
                  <li class="nav-item">
                      <a class="nav-link" aria-current="page" href="{% url 'nosotros' %}">Nosotros</a>   
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/#productos">Productos</a> 
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " href="/contacto">Contactos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'faq' %}">Preguntas Frecuentes</a>
                  </li>
                </ul>            
                                     
                 <!-- Registo de usuario -->
                <div class="dropdown float-end me-4" >
                  <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle text-dark" data-bs-toggle="dropdown" aria-expanded="false" >
                    <img src="{% static 'img/avatar-mono.png' %}" alt="Avatar" class="rounded-circle me-1" width="33" height="33">
                    {% if user.is_authenticated %}
                    <strong >{{ user.username }}</strong>
                    {% endif %}
                  </a>
                  <ul class="dropdown-menu text-small shadow position-absolute end-0" style="margin-left: -4.90rem;">
                    {% if user.is_authenticated == False %}
                    <li ><a class="dropdown-item bi bi-person-circle" href="{% url 'login' %} "> Iniciar Sesión</a></li>
                    
                    {% else %}
                    <!-- <li><a class="dropdown-item" href="#">Settings</a></li> -->
                    <li><a class="dropdown-item bi bi-person-lines-fill" href="{% url 'perfil' %}"> Perfil</a></li> 
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item bi bi-person-check-fill" href="{% url 'logout' %}"> Cerrar Sesión</a></li>
                    {% endif %} 
                    
                  </ul>
                </div>
              </div>   
            </div>
           
                        <!-- Admin -->
            {% if request.user.is_superuser %}
            <div class="menu position-absolute top-48 start-50">
              <a class="btn btn-outline-dark bi bi-gear-wide-connected" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
              Registros</a>            
              <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="offcanvasExampleLabel">Registros</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
                      Proveedores
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <li><a class="dropdown-item" href="/registrar">Registrar</a></li>
                      <li><a class="dropdown-item" href="/listarProveedor">Ver</a></li>
                    </ul>
                  </div>
                  <div class="dropdown mt-3">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
                      Productos
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <li><a class="dropdown-item" href="{% url 'crear_producto' %}">Registrar</a></li>
                      <li><a class="dropdown-item" href="{% url 'listar_producto' %}">Ver</a></li>
                    </ul>
                  </div>
                </div>
              </div>
             
             </div>
             {% endif %}       
        </nav>
      
        <!-- <div class="container py-0"></div> -->
       
        
   {% block body %}
    
   {% endblock %}

   <footer class=" text-center text-dark mt-5 bg-danger bg-opacity-75" >
    <!-- Grid container -->
    <div class="container p-3 pb-0 ">
      <!-- Section: Social media -->
      <section class="mb-2">
        <!-- Facebook -->
        <a class="btn btn-outline-primary btn-sm" href="https://www.facebook.com/universidad.uci" target="_blank" role="button" style="border: none;">
          <img src="{% static 'img/facebook.svg' %}" alt="Facebook" width="20" title="Facebook"> 
        </a>
        <!-- Twitter -->
        {% comment %} <a class="btn btn-outline-info btn-sm" href="https://twitter.com/?lang=es" role="button" target="_blank" style="border: none;">
          <img src="{% static 'img/twitter.svg' %}" alt="Twitter" width="20" title="Twitter">
        </a> {% endcomment %}
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-sm" href="https://www.instagram.com/invites/contact/?i=1i4m8kbbds1bt&utm_content=raz2p57" role="button" role="button" target="_blank" style="border: none;">
          <img src="{% static 'img/instagram.svg' %}" alt="Instagram" width="20" title="Instagram">
        </a>
  
        <!-- WhatsApp -->
        <a class="btn btn-outline-success btn-sm" href="https://chat.whatsapp.com/LUB5WtoBCr4Dyk1CjjyfNG" role="button" target="_blank" style="border: none;">
          <img src="{% static 'img/whatsapp.svg' %}" alt="WhatsApp" width="20" title="WhatsApp">  
        </a>
  
        <!-- Github -->
        {% comment %} <a class="btn btn-outline-light btn-sm" href="https://github.com/" role="button" target="_blank" style="border: none;">
          <img src="{% static 'img/github.svg' %}" alt="Github" width="20" title="Github">
        </a>  {% endcomment %}
      </section>           
    </div>
    <!-- Grid container -->             
      <div class="text-center p-2">
        Diseñado y desarollado por <b class="text-dark">TeamMaster</b> © 2023 <b class="text-dark">La Madriguera del Zorro.</b>    
      </div>     
  </footer>
  
  <a class="back-to-top in" title="Ir a arriba" href="#top"></a>
   <i class="back-to-top-icon glyphicon glyphicon-arrow-up in bi bi-arrow-up">        
     {% comment %} <img src="bootstrap-icons-1.10.3/arrow-up.svg" alt="flecha" style="width: 21px;"> {% endcomment %}
   </i>

 {% block script %}
   {% comment %} <script src="{% static 'js/bootstrap.min.js' %}"></script>  {% endcomment %}
   <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script> 
   <script src="{% static 'js/proveedores.js' %}"></script>  
   <script src="{% static 'js/validacionProv.js' %}"></script> 
   <script src="{% static 'js/validacionProd.js' %}"></script>
   <script src="{% static 'js/sweetalert2.all.js' %}"></script> 
   <script src="{% static 'js/jquery-3.5.1.js' %}"></script>
   <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>       
   <script src="{% static 'js/dataTables.bootstrap5.min.js' %}"></script> 
   <script src="{% static 'js/proveedores.js' %}">$('#datatable').DataTable()</script>         
    

         {% comment %} Mensaje con el QR {% endcomment %}
    <script type="text/javascript">
      (function () {

        const comprar = document.querySelectorAll(".comprar"); 
      
          comprar.forEach(btn => {
          btn.addEventListener('click',(e)=>{
               
          e.preventDefault(); 
      
            Swal.fire({
              title: 'Pagar con Transfermóvil',
              text: 'Vuelva pronto.',
              background: '#e1e6d3',
              imageUrl: '{% static 'img/qr.jpg' %}',
              imageborder: 'none',  
              imageWidth: 350,
              imageHeight: 250,
              imageAlt: 'Código QR ' 
            })    
      }); 
      });    
      })(); 
    </script>
    
    <script type="text/javascript">
      // selecciona el enlace que lleva al principio de la página
      const backToTopLink = document.querySelector('.back-to-top');
      const flecha = document.querySelector('.back-to-top-icon');

      // agrega un evento de scroll al documento
      window.addEventListener('scroll', () => {
        // si la posición vertical de la página es mayor a 210 px
        if (window.pageYOffset > 210) {
          // muestra el enlace
          backToTopLink.style.display = 'block';
          flecha.style.display = 'block';
        } else {
          // oculta el enlace
          backToTopLink.style.display = 'none';
          flecha.style.display = 'none';
        }
      });
    </script>
  {% endblock %}
  {% block extrajs %}
  {% endblock %}
  
</body>
</html>