{% extends "./base.html" %}
 {% load static %} 

{% block body %}  
    
    <div class="container py-3">  
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-8 text-center mx-auto" >
                <h3>Listado de Proveedores</h3> 
                
                <div class="table-responsive">
                    <table id="datatable" class="table table-striped table-hover table-bordered border-dark table-sm">
                        
                        <thead class="table-success">
                            <tr>
                                <th class="centered">#</th>
                                <th class="centered"> CI </th>
                                <th class="centered"> Nombre </th>
                                <th class="centered"> Teléfono </th> 
                                <th class="centered"> Correo </th>
                                <th class="centered"> Productos </th>  
                                <th class="centered">Opciones</th>
                                
                                
                            </tr>
                        </thead>
                            <tbody id="tablebody">
                                {% for p in object_list %}  
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{p.ci}}</td>
                                    <td>{{p.nombre}}</td>
                                    <td>{{p.telefono}}</td>
                                    <td>{{p.correo}}</td>                                  
                                    <td>
                                        <a href="/listarProducto/{{p.ci}}" class="btn btn-secondary bi bi-table" title="Listado de Productos"></a>
                                    </td>                                                    
                                    <td>
                                    <a href="/edicionProveedor/{{p.ci}}" class="btn btn-info btn-sm bi bi-pencil" title="Editar">
                                        <!-- <img src="{% static 'img/pencil.svg' %}" alt="Editar" width="15" title="Editar"> -->
                                    </a>
                                
                                    <a href="/eliminarProveedor/{{p.ci}}" class="btn btn-danger btn-sm btnEliminacion bi bi-trash" title="Eliminar"> </a>
                                </td>
    
                                </tr>
                                {% endfor %}
                            </tbody>                 
                    </table>
                </div>
            </div>
        </div>
    </div>
    <br><br>
{% endblock %}