{% extends "base.html" %}
{% load static %} 

{% block body %} 

    <div class="container py-3">
        <div class="row">
            <div class="col-sm-12 col-md-6 mx-auto">
                <img class="rounded-circle d-block mx-auto mb-1" src="{% static 'img/logo.jpg' %}" alt="Logo" width="110" height="110" >
                <p class="mb-4" style="text-align: center; font-family: Arial, Helvetica, sans-serif;">Somos una empresa dedicada a dar felicidad, tranquilidad y seguridad a la familia de la UCI. 
                    <br>
                    Pero ante todo somos una fábrica de resultados. Dicho esto, no pretendemos que te lo creas sin más. Tienes el derecho y el deber de ponernos a prueba. Déjanos que te lo demostremos. Consúltanos tus dudas a nuestro WhatsApp.
                    <br>
                    Además de lo antes mencionado nos avalan una grandísima familia de clientes satisfechos. 😁
                </p>
            </div>
        </div>
    </div>
    <br>
{% endblock %}