{% extends "base.html" %}
{% load static %} 

{% block body %}  
<div class="container mt-3">
    <h3 id="resultado">Resultado de la búsqueda</h3> 
    <div class="row row-cols-2 row-cols-md-4 mb-1 text-center mt-3"> 
      {% for p in entity %}
      <div class="col">
        <div class="card mb-3 rounded-3 shadow-sm border-dark">
          <div class="card-header py-2 bg-danger">
            <h4 class="my-0 fw-normal text-white "> {{p.nombre}} </h4>
          </div>
          <div class="card-body">
            <div class="contenedor">
              <img src=" {{ p.imagen.url }} " alt="" style="height: 9rem; width: 9rem;" class="img-thumbnail img">
            </div>
            <h2 class="card-title pricing-card-title"> {{p.precio}} <small class="text-muted fw-light">/cup</small>
            </h2>
            <ul class="list-unstyled mt-3 mb-3">
              <li>Cantidad de productos: {{p.cantidad_productos}}</li>
            </ul>
            <a class=" btn btn-md btn-outline-danger" href="{% url 'agregar' p.id %}">Agregar al carrito</a> 
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% if not entity %}
      <h4>No se encontraron resultados</h4>
    {% endif %}
  </div>

  <div>
    {% include './paginatorB.html' %}  
  </div>

  {% if messages %}
  {% for m in messages %}
    {% if m.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
      <div class="container position-relative" id="alerta">
       <div class="col-sm-4 col-md-4 col-lg-4 position-fixed bottom-0 end-0">
          <div class="alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert" id="myAlert">
            <i class="bi bi-check-circle-fill me-2"></i>
              {{ m }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
  {% endif %}

  <br><br>
{% endblock %}

{% block extrajs %}
    {% if messages %}
    {% for m in messages %}
    {% if m.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <script>
        Swal.fire({
        "icon": 'error', 
        "background": '#e1e6d3',  
        "title": 'Error', 
        "text": '{{m}}'          
      })
    </script> 
    {% endif %} 
    {% endfor %}
    {% endif %}
{% endblock  %}
