{% extends "base.html" %}
 {% load static %} 

{% block body %} 
<div class="container py-3">
     <div class="row">
         <div class="col-sm-12 col-md-6 col-lg-4 pb-4 mx-auto"> 
             <!-- col-md-3 offset-md-4 text-center -->
             <h3 style="margin-left: 59px;">Editar Proveedor</h3>
             <div class="card border-dark" style="width: 20rem;">
                 <div class="card-body">
                     <form id="formularioProv" action="/editarProveedor/" method="POST">{% csrf_token %}
                         <div class="form-group pb-2">             
                             <input type="text" name="ci" value="{{proveedor.ci}}" id="txtci" class="form-control form-input" placeholder="Carnet de Identidad" minlength="11" maxlength="11" required readonly>
                             </div>
                         <div class="form-group pb-2">
                             <input type="text" name="nombre" value="{{proveedor.nombre}}" id="txtnombre" class="form-control form-input" placeholder="Nombre" maxlength="50" required>
                         </div>
                         <div class="form-group pb-2">
                             <input type="text" name="telefono" value="{{proveedor.telefono}}" id="txttelefono" class="form-control form-input" placeholder="Telefono" minlength="8" maxlength="10" required>
                         </div>
                         <div class="form-group pb-2">       
                            <div class="input-group">
                            <span class="input-group-text" id="arroba">@</span>
                            <input type="text" name="correo" value="{{proveedor.correo}}" id="txtcoreo" class="form-control form-input"
                             placeholder="Correo" minlength="11" maxlength="200" aria-describedby="arroba" required>
                            </div> 
                        </div>
                        <div class="form-group pb-2" >
                            <textarea name="descripcion"  id="txtarea" rows="3" class="form-control" style="max-height:200px;" placeholder="Escriba una descripción">{{proveedor.descripcion}}</textarea>
                        </div>
    
                         <div class="form-group d-grid gap-2">
                             <button type="submit" class="btn btn-success  text-white">Guardar</button>
                         </div>                       
                          
                     </form> 
                 </div>
             </div>
         </div>

     </div>    
    </div>
    <br>
{% endblock %}
{% block extrajs %}
        {% if messages %}
        {% for m in messages %}
        {% if m.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <script>
            Swal.fire({
            "icon": 'success', 
            "background": '#e1e6d3',  
            "title": 'Felicitaciones', 
            "text": '{{m}}'          
        })
        </script> 
        {% endif %}  
        {% if m.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <script>
            Swal.fire({
            "icon": 'error', 
            "background": '#e1e6d3',  
            "title": 'Error', 
            "text": '{{m}}'          
        })
        </script> 
        {% endif %} 
        {% endfor %}
        {% endif %}
{% endblock  %}